@model List<ServiceComputer.Website.ViewModel.ShowCart>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Html.Partial("_BannerNagative");
}

<div class="section padding_layout_1 Shopping_cart_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="product-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Total</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @foreach (var product in item.listProductShowCart)
                                {
                                    <tr>
                                        <td class="col-sm-8 col-md-6">
                                            <div class="media">
                                                <a class="thumbnail pull-left" href="#">
                                                    <img class="media-object" src="@product.ImageUrl" alt="#">
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">@product.Name</a></h4>
                                                    <span>Status: </span><span class="text-success">In Stock</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-sm-1 col-md-1" style="text-align: center">
                                            <input class="form-control" value="@item.quantity" type="number" readonly>
                                        </td>
                                        <td class="col-sm-1 col-md-1 text-center"><p class="price_table">$@product.Price</p></td>
                                        <td class="col-sm-1 col-md-1 text-center"><p class="price_table">$@(product.Price * item.quantity)</p></td>
                                        <td class="col-sm-1 col-md-1"><button type="button" class="bt_main"><i class="fa fa-trash"></i> Remove</button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="shopping-cart-cart">
                    <table>
                        <tbody>
                            <tr class="head-table">
                                <td><h5>Cart Totals</h5></td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td><h4>Subtotal</h4></td>
                                <td class="text-right"><h4>$@Model.Sum(item => item.total)</h4></td>
                            </tr>
                            <tr>
                                <td><h5>Estimated shipping</h5></td>
                                <td class="text-right"><h4>$5.00</h4></td>
                            </tr>
                            <tr>
                                <td><h3>Total</h3></td>
                                <td class="text-right"><h4>$@(Model.Sum(item => item.total) + 5)</h4></td>
                            </tr>
                            <tr>
                                <td><button type="button" class="button">Continue Shopping</button></td>
                                <td><button class="button">Checkout</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>






@* False to @Product.price *@

@* <div class="section padding_layout_1 Shopping_cart_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="product-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Total</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @foreach (var product in item.listProductShowCart)
                                {
                                    <tr>
                                        <td class="col-sm-8 col-md-6">
                                            <div class="media">
                                                <a class="thumbnail pull-left" href="#">
                                                    <img class="media-object" src="@product.ImageUrl" alt="#">
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">@product.Name</a></h4>
                                                    <span>Status: </span><span class="text-success">In Stock</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-sm-1 col-md-1" style="text-align: center">
                                            <input class="form-control" value="@item.quantity" type="number" readonly>
                                        </td>
                                        <td class="col-sm-1 col-md-1 text-center"><p class="price_table">$@product.Price</p></td>
                                        <td class="col-sm-1 col-md-1 text-center"><p class="price_table">$@(product.Price * item.quantity)</p></td>
                                        <td class="col-sm-1 col-md-1"><button type="button" class="bt_main"><i class="fa fa-trash"></i> Remove</button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="shopping-cart-cart">
                    <table>
                        <tbody>
                            <tr class="head-table">
                                <td><h5>Cart Totals</h5></td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td><h4>Subtotal</h4></td>
                                <td class="text-right"><h4>$@Model.Sum(item => item.total)</h4></td>
                            </tr>
                            <tr>
                                <td><h5>Estimated shipping</h5></td>
                                <td class="text-right"><h4>$5.00</h4></td>
                            </tr>
                            <tr>
                                <td><h3>Total</h3></td>
                                <td class="text-right"><h4>$@(Model.Sum(item => item.total) + 5.00)</h4></td>
                            </tr>
                            <tr>
                                <td><button type="button" class="button">Continue Shopping</button></td>
                                <td><button class="button">Checkout</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> *@
